
/*body{
	position: relative;
	font-family: helvetica neue, helvetica, sans-serif;
	font-weight: lighter;
	font-size: 40pt;
} */

/*
nav {
    width: 30px;
    height: 30px;
    background-color: #ffff00;
}*/
.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}
nav[data-state*="expanded"] { 
    width: 240px;
    height: 768px;
} 
#textbox{
	background-color: #fff;
	margin-right: 60px;
}
#textboxalas{
	background-color: #33ffcc;
	margin-right: 60px;
	padding-bottom: 0px;
	height: 650px;
}
#textheader{
	color: #fff;
	font-weight: 300px;
	margin-top: 0px;
	margin-right: 60px;
	padding-left: 50px;
}
#textheaderalas{
	color: #000;
	font-weight: 300px;
	margin-top: 0px;
	margin-right: 60px;
	padding-left: 50px;
}
#textheader2{
	color: #fff;
	font-weight: 300px;
	margin-top: 60px;
	margin-right: 60px;
	padding-left: 50px;
	padding-top: 20px;
}
p4{
	font-size: 10pt;
	margin-left: 750px;
}
#textauthor{
	color: #fff;
	font-weight: 300px;
	font-size: 15pt;
	padding-left: 50px;
}
#textauthoralas{
	color: #000;
	font-weight: 300px;
	font-size: 15pt;
	padding-left: 50px;
}
#fulltext{
	color: #000;
	font-weight: 300px;
	font-size: 15pt;
	line-height: 30px;
	padding: 50px;
}
#p5{
	color: #000;
	font-weight: 300px;
	font-size: 15pt;
	line-height: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	width: 500px;
}
#imgsum{
	display: inline;
	margin-left: 200px;
	float: right;
	margin-top: -575px;
	padding-right: 60px;
}
#fulltext2{
	color: #000;
	font-weight: 300px;
	font-size: 15pt;
	line-height: 30px;
	padding: 50px;
	margin-top: 0px;
}
#container{
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}
#readcontainer{
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	background-color: #33ffcc;
}
#nextpage{
	margin-left: 725px;
}
#prevpage{
	text-align: left;
}
#readnow{
	color: #000;
	font-size: 10pt;
	text-align: left;
	display: block;
	margin-top: 125px;
	padding-left: 10px;
}
#bookmark{
	color: #000;
	font-size: 10pt;
	display: block;
	padding-left: 10px;
}
#amandaheader{
	color: #fff;
	background-color: #000;
	width: 465px;
	padding-left: 15px;
	margin-top: 60px;
}
#currentheader{
	color: #fff;
	background-color: #000;
	width: 413px;
	padding-left: 15px;
	margin-top: 60px;
}
#locationheader{
	color: #fff;
	background-color: #000;
	width: 413px;
	padding-left: 15px;
	margin-top: 60px;
}
#subjectheader{
	color: #fff;
	padding-left: 10px;
}
#subjectheader a{
	color: #000;
}
#subjectheader a:hover{
	color: #ffff00;
}
.subject{
	background: #33ffcc;
	padding-left: 10px;
} 
#subjectcontainer{
	line-height: 75px;
}
#currenttext{
	background-color: #33ffcc;
	color: #000;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0px;
	line-height: 75px;
	width: 340px;
	margin-bottom: 15px;
}
#currenttext a{
	text-decoration: none;
}
#currenttext a:hover{
	background-color: #ffff00;
	color: #000;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	background-color: #ffff00;
}
#finesandcard{
	background-color: #33ffcc;
	line-height: 75px;
	margin-bottom: 10px;
} 
.vis1{
	visibility: hidden;
}
.vis2{
	visibility: visible;
}
#bookimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#alasimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#harryimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#insurgentimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#lincolnimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#chaseimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#deathimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#breadimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#futureimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#faultimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#gatsbyimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#sixthimg {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}
#bookdue {
        position: absolute;
        bottom: 50%;
        right: 50%;
        /* margin-top: -335px; */
		margin-bottom: -400px;
        margin-right: -400px;
        z-index: 101px;
}

#bookduehighlight{
	background-color: #000;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -10px;
	width: 255px;	
}
#march3{
	background-color: #33ffcc;
	color: #000;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0px;
	line-height: 60px;
	width: 255px;
} 
#bookfines{
	background-color: #000;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0px;
	line-height: 60px;
	margin-top: 15px;
	width: 275px;
}
#fines{
	background-color: #33ffcc;
	color: #000;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 70px;
	width: 275px;
}
#card{
	background-color: #000;
	color: #fff;
	margin-top: 15px;
	padding-left: 15px;
	width: 345px;
}
#cardnumbers{
	background-color: #33ffcc;
	color: #000;
	width: 345px;
	padding-left: 15px;
}  

#searchheader{
	color: #fff;
	background-color: #000;
	padding-left: 15px;
	margin-top: 60px;
	margin-right: 60px;
}
#genresheader{
	color: #fff;
	background-color: #000;
	margin-right: 60px;
	padding-left: 15px;
	margin-top: 15px;
}
#trendingheader{
	color: #000;
	background-color: #ffff00;
	margin-right: 60px;
	padding-left: 15px;
	margin-top: 15px;
}
#search{
	color: #ffff00;
	padding-left: 10px;
	margin-right: 60px;
	background-color: #33ffcc;
	margin-bottom: 15px;
}
.genres{
	background: #33ffcc;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 35px;
}
.genresselect{
	background: #ffff00;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 35px;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	background-color: #ffff00;
}

#genrecontainer{
	line-height: 75px;
}

.vis1{
	visibility: hidden;
}
.vis2{
	visibility: visible;
}
input {
    border: 0;
    outline: 0;
    border-bottom: 0px;
    font-size: 40pt;
    font-weight: lighter;
    width: 50%;
}
#map{
}
#searchbar{
	color: #ffff00;
	background-color: #33ffcc;
}
#locationhours{
	position: block;
	font-size: 20pt;
	text-align:top;
	padding-left: 15px;
	width: 200px;
	vertical-align: top;
}
#logo{
	color: #e6e6e6;
	font-size: 80pt;
	position: fixed;
	left: 0;
	bottom: 0;
}